[mysqld]
character-set-server = utf8mb4

collation-server = utf8mb4_unicode_ci

default-time-zone = 'Asia/Tokyo'

bind-address=0.0.0.0
sql_mode=STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION

innodb_file_per_table=1

innodb_buffer_pool_size=512M  # メモリサイズに応じて調整
innodb_log_file_size=128M
innodb_log_buffer_size=16M

tmpdir=/tmp

default_storage_engine=InnoDB
